@using System
@using DAV.UniverseCleaning.App_LocalResources
@using DAV.UniverseCleaning.Controllers
@{
    var hideTitle = ViewBag.HideTitle ?? false;
    var hideMessage = ViewBag.HideMessage ?? false;
    var openNowText = "Closed Now";
    var openingTimesClass = "lead btn-danger openingTimes pull-right";
    bool includeWeekendWorking = true;
    var dayOfTheWeek = System.DateTime.Now.DayOfWeek;
    bool isWeekend = (dayOfTheWeek == DayOfWeek.Saturday || dayOfTheWeek == DayOfWeek.Sunday);
    var startTime = new TimeSpan(9, 0, 0);
    var endTime = new TimeSpan(17, 0, 0);
    if (DateTime.Now.TimeOfDay >= startTime && DateTime.Now.TimeOfDay <= endTime)
    {
        if (isWeekend)
        {
            if (includeWeekendWorking)
            {
                openingTimesClass = "lead btn-success openingTimes pull-right";
                openNowText = "Open Now";
            }
        }
        else
        {
            openingTimesClass = "lead btn-success openingTimes pull-right";
            openNowText = "Open Now";
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/Images/favicon.png")" />
    <meta http-equiv="content-type" content="text/html" charset=" utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefor
            e(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-70401195-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <!-- header begins -->
    <div class="container white dropShadow">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home")"><img async src="@Url.Content("~/Images/universeCleaningLogo.png")" alt="Universe Cleaning Logo"></a>
            </div>
            <div class="navbar-right">
                <div>
                    <div>
                        <div class="clearMed">
                        </div>
                        @SocialMediaHelper.SocialMediaButtons()
                    </div>
                </div>
                <div class="callEstimate">
                    <div class="clearMed"></div>
                    <span>CALL FOR A FREE ESTIMATE</span>
                </div>
                <div>
                    <div class="pull-left">
                        <span><abbr title="Mobile">M:</abbr></span>
                        <p class="textRight">
                            <a href="tel://@Resource.MobilePhone"><strong>@Resource.MobilePhone</strong></a>
                        </p>
                    </div>
                    &nbsp;&nbsp;
                    <div class="pull-right">
                        <span><abbr title="Landline">L:</abbr></span>
                        <p class="textRight">
                            <a href="tel://@Resource.Landline"><strong>@Resource.Landline</strong></a>
                        </p>
                    </div>
                </div>
                <span class="@openingTimesClass">@openNowText</span>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="@Url.Action("Index", "Services")" class="dropdown-toggle">Services <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Domestic Cleaning", "DomesticCleaning", "Services")</li>
                                <li>@Html.ActionLink("Spring Clean", "SpringCleaning", "Services")</li>
                                <li>@Html.ActionLink("Oven Cleaning", "OvenCleaning", "Services")</li>
                                <li>@Html.ActionLink("Comercial Service", "ComercialService", "Services")</li>
                                <li>@Html.ActionLink("Ironing at your home", "IroningAtHome", "Services")</li>
                                <li>@Html.ActionLink("End of Tenancy", "EndOfTenancyCleaning", "Services")</li>
                                <li>@Html.ActionLink("Carpet Cleaning", "CarpetCleaning", "Services")</li>
                                <li>@Html.ActionLink("After Builders Clean", "AfterBuildersCleaning", "Services")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Offers", "Offers", "Home")</li>
                        <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Photo Gallery", "PhotoGallery", "Home")</li>
                        <li>@Html.ActionLink("T&Cs", "TermsAndConditions", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container white dropShadow">
        @if (!hideTitle)
        {
            if (!string.IsNullOrEmpty(ViewBag.Title))
            {
                <h1>@ViewBag.Title.</h1>
            }
            if (!hideMessage && !string.IsNullOrEmpty(ViewBag.Message))
            {
                <h2>@ViewBag.Message</h2>
            }
        }
        @RenderBody()
    </div>
    <div class="container white dropShadow">
        <footer>
            <div class="row">
                <div class="col-lg-2">
                    Designed by DAV.
                </div>
                <div class="col-lg-3">
                    <strong>Copyright © 2015. All Rights Reserved.</strong>
                </div>
                <div class="col-lg-7">
                    @SocialMediaHelper.SocialMediaButtons(true)
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
