@using DAV.UniverseCleaning.Controllers
@{
    var hideTitle = ViewBag.HideTitle ?? false;
    var hideMessage = ViewBag.HideMessage ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/Images/favicon.png")" />
    <meta http-equiv="content-type" content="text/html;" charset=" utf-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")

</head>

<body>
    <div id="main">
        <!-- header begins -->
        <div class="content_top"></div>
        <div id="header">
            <div class="logoWrapper">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img async src="@Url.Content("~/Images/universeCleaningLogo.png")" alt="Universe Cleaning Logo"></a>
                </div>
                <div>
                    @SocialMediaHelper.SocialMediaButtons();
                </div>
                <div class="callEstimate">
                    <div class="clearTall"></div>
                    <span>CALL FOR A FREE ESTIMATE&nbsp;0746 313 7337<br>0747 689 7333</span>
                </div>
            </div>
            <div class="clear"></div>
            <div id="wb_CssMenu2">
                <ul>
                    <li class="firstmain">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="withsubmenu">
                        @Html.ActionLink("Services", "Index", "Services")
                        <ul>
                            <li class="firstitem">@Html.ActionLink("Domestic Cleaning", "DomesticCleaning", "Services",null, new { @class = "active" })</li>
                            <li>@Html.ActionLink("Spring Clean", "SpringCleaning", "Services")</li>
                            <li>@Html.ActionLink("Oven Cleaning", "OvenCleaning", "Services")</li>
                            <li>@Html.ActionLink("Comercial Service", "ComercialService", "Services")</li>
                            <li>@Html.ActionLink("Ironing at your home", "IroningAtHome", "Services")</li>
                            <li>@Html.ActionLink("End of Tenancy", "EndOfTenancyCleaning", "Services")</li>
                            <li>@Html.ActionLink("Carpet Cleaning", "CarpetCleaning", "Services")</li>
                            <li class="lastitem">@Html.ActionLink("After Builders Clean", "AfterBuildersCleaning", "Services")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Offers", "Offers", "Home")</li>
                    <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
        <div class="header_bot"></div>
        <!-- header ends -->
        <!-- content -->
        <div class="clear"></div>
        <div class="content_top"></div>
        <div id="content">
            @if (!hideTitle)
            {
                if (!string.IsNullOrEmpty(ViewBag.Title))
                {
                    <h1>@ViewBag.Title.</h1>
                }
                if (!hideMessage && !string.IsNullOrEmpty(ViewBag.Message))
                {
                    <h2>@ViewBag.Message</h2>
                }
            }
            @RenderBody()
            <div class="clear"></div>
        </div>
        <div class="content_bot"></div>
    </div>
    <div id="footer">
        <div id="footer_box1">
            <p>
                Copyright 2015. Designed by DAV
            </p>
        </div>
            @SocialMediaHelper.SocialMediaButtons();
    </div>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $("#slider").excoloSlider({
                autoSize: true,
                height: 259
            });
        });
    </script>
</body>
</html>
