@using DAV.UniverseCleaning.App_LocalResources
@{
    ViewBag.Keywords = Resource.ServicesKeywords;
    ViewBag.Title = Resource.ServicesTitle;
    ViewBag.Description = Resource.ServicesDescription;
}

<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("DomesticCleaning", "Services")"><img async src="@Url.Content("~/Images/img0009.png")" alt="Domestic Cleaning" /></a>
        </div>

        <div class="col-md-8 paddingTop10">
            <p>
                <strong>Domestic Cleaning</strong><br />
                Are you a new client? Contact us and we'll give you 25% of on your first clean.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "DomesticCleaning", "Services")</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("CarpetCleaning", "Services")"><img async src="@Url.Content("~/Images/img0010.png")" alt="Carpet Cleaning" /></a>
        </div>
        <div class="col-md-8 paddingTop10">
            <p>
                <strong>Carpet Cleaning</strong><br />
                Are you a new client? Contact us and we'll give you 25% of on your first clean.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "CarpetCleaning", "Services")</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("OvenCleaning", "Services")"><img async src="@Url.Content("~/Images/img0008.png")" alt="Oven Cleaning" /></a>
        </div>
        <div class="col-md-8 paddingTop10">
            <p>
                <strong>Oven Cleaning</strong><br />
                Hire us to clean your oven in July and you get 10% off.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "OvenCleaning", "Services")</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("SpringCleaning", "Services")"><img async src="@Url.Content("~/Images/img0005.png")" alt="Spring Cleaning" /></a>
        </div>
        <div class="col-md-8 paddingTop10">
            <p>
                <strong>Spring Cleaning</strong><br />
                Hire us to clean your oven in July and you get 10% off.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "SpringCleaning", "Services")</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("EndOfTenancyCleaning", "Services")"> <img async src="@Url.Content("~/Images/img0006.png")" alt="End Of Tenancy" /></a>
        </div>
        <div class="col-md-8 paddingTop10">
            <p>
                <strong>End Of Tenancy</strong><br />
                Hire us to clean your oven in July and you get 10% off.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "EndOfTenancyCleaning", "Services")</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("ComercialService", "Services")"><img async src="@Url.Content("~/Images/img0007.png")" alt="Comercial Service" /></a>
        </div>
        <div class="col-md-8 paddingTop10">
            <p>
                <strong>Comercial Service</strong><br />
                Hire us to clean your oven in July and you get 10% off.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "ComercialService", "Services")</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("AfterBuildersCleaning", "Services")"><img async src="@Url.Content("~/Images/img0025.png")" alt="After Builders Cleaning" /></a>
        </div>

        <div class="col-md-8 paddingTop10">
            <p>
                <strong> After Builders Cleaning</strong><br />
                Hire us to clean your oven in July and you get 10% off.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "AfterBuildersCleaning", "Services")</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-4">
            <a href="@Url.Action("IroningAtHome", "Services")"><img async src="@Url.Content("~/Images/img0024.png")" alt="Ironing at yout Home" /></a>
        </div>
        <div class="col-md-8 paddingTop10">
            <p>
                <strong>Ironing at yout Home</strong><br />
                Hire us to clean your oven in July and you get 10% off.
            </p>
            <div class="read_more">@Html.ActionLink("read more...", "IroningAtHome", "Services")</div>
        </div>
    </div>
</div>
