@using DAV.UniverseCleaning.App_LocalResources
@model DAV.UniverseCleaning.Models.ContactMessage
@{
    ViewBag.Title = Resource.ContactUsTitle;
    ViewBag.Message = Resource.ContactUsAddressTitle;
    ViewBag.Keywords = Resource.ContactUsKeywords;
    ViewBag.Description = Resource.ContactUsDescription;
    ViewBag.HideMessage = true;
}
<div class="row">
    <div class="col-lg-6">
        <div class="contactForm">
            <h3>@ViewBag.Message</h3>
            <address>
                <div class="line"></div>
                Bishops Stortford<br />
                CM233YP<br />
                United Kingdom<br />
                <abbr title="Mobile">P:</abbr>
                @Resource.MobilePhone<br />
                <abbr title="Landline">P:</abbr>
                @Resource.Landline<br />
                <strong>Info:</strong>   <a itemprop="email" href="mailto:info@universecleaning.co.uk">info@universecleaning.co.uk</a><br />
            </address>
        </div>
        <div class="contactForm">
            <h3>Contact Us:</h3>
            <div class="line"></div>
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                if (string.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                    @Html.ValidationSummary()
                    ViewBag.Placeholder = "Johnny Smith";
                    @Html.EditorFor(x => x.Name)
                    ViewBag.Placeholder = "example@mail.com";
                    @Html.EditorFor(x => x.Email, "String")
                    ViewBag.Placeholder = "Write something to us";
                    @Html.EditorFor(x => x.Message)
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="success">@ViewBag.SuccessMessage</div>
                }
            }
        </div>
    </div>
    <div class="col-lg-6">
        <iframe name="maps" class="googleMaps" src="https://mapsengine.google.com/map/embed?mid=zS4zu6hWEgh4.klao5zUw8xwY" scrolling="no"></iframe>
    </div>
</div>
