@using DAV.UniverseCleaning.App_LocalResources
@{
    ViewBag.Title = Resource.HomePageTitle;
    ViewBag.HideTitle = true;
    ViewBag.Keywords = Resource.HomeKeywords;
}
<!-- top -->
<div class="top">
    <div class="top_top"></div>
    <div class="top_img">
        <div id="slider-wrapper">
            <div id="slider">
                <img src="~/Images/top_img.jpg" alt="" />
                <img src="~/Images/top_img2.jpg" alt="" />
                <img src="~/Images/top_img3.jpg" alt="" />
                <img src="~/Images/top_img4.jpg" alt="" />
                <img src="~/Images/top_img5.jpg" alt="" />
                <img src="~/Images/top_img6.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="top_bot"></div>
</div>
<div class="clear"></div>

<h2>Welcome to Universe Cleaning</h2>
<p>
    Universe Cleaning offers a flexible home cleaning service at an affordable price (no matter whether a house or a flat clean is required), based on a no-obligation, free estimate carried out in your home. Uniformed, fully insured staff typically work in teams of two to efficiently clean your home.
</p>
<div class="box1_all">
    <div class="box1">
        <strong>Quality Cleaning</strong>
        <div class=" box1_left"><img src="@Url.Content("~/Images/img0003.png")" alt="" /></div>
    </div>
    <div class=" box1_div"></div>
    <div class="box1">
        <strong>Quality Cleaning</strong>
        <div class=" box1_left"><img src="@Url.Content("~/Images/img0002.png")"  alt="" /></div>
    </div>
    <div class=" box1_div"></div><div class="box1">
        <strong>Quality Cleaning</strong>
        <div class=" box1_left"><img src="@Url.Content("~/Images/img0001.png")" alt="" /></div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="index_left">
    <div class="index_left_bg">
        <div class="index_left_left">
            <h3>Who We Are</h3>
            <div class="block">
                <img src="@Url.Content("~/Images/img0003.png")" alt="Quality Cleaning" />
                <p>
                    <strong>Quality Cleaning</strong><br />
                    Our cleaning business services provide a clean and healthy workplace. Materials and equipment are included in price and provided by our cleaning team. We believe we offer the best quality service at a sensible and affordable price. Our success is a direct result of our commitment to honesty, reliability and our approach to service quality.
                </p>
                <div class="read_more"><a href="#">read more...</a></div>
            </div>
            <div class="clear" style="height: 35px;"></div>
            <div class="block">
                <img src="@Url.Content("~/Images/img0002.png")" alt="Professional Cleaning" />
                <p>
                    <strong>Professional Cleaning</strong><br />
                    Our policy on services quality demands that we must consistently provide an honest, economic and reliable service, which meets the needs of our customers.
                </p>
                <div class="read_more">@Html.ActionLink("read more...", "About", "Home")</div>
            </div>
            <div class="clear" style="height: 35px;"></div>
            <div class="block">
                <img src="@Url.Content("~/Images/img0001.png")" alt="Affordable Rates" />
                <p>
                    <strong>Affordable Rates</strong><br />
                    Call us today to arrange your free, no-obligation in-home estimate for your individual home cleaning
                    service requirements.
                </p>
                <div class="read_more">@Html.ActionLink("read more...", "Contact", "Home")</div>
            </div>
        </div>
        <div class="index_left_right">
            <h3>Our Services</h3>
            <ul class="list_index">
                <li>@Html.ActionLink("Domestic Cleaning","DomesticCleaning","Services")</li>
                <li>@Html.ActionLink("Spring Clean", "SpringCleaning", "Services")</li>
                <li>@Html.ActionLink("Oven Clean", "OvenCleaning", "Services")</li>
                <li>@Html.ActionLink("Commercial Sevice", "ComercialService", "Services")</li>
                <li>@Html.ActionLink("Ironing at your home", "IroningAtHome", "Services")</li>
                <li>@Html.ActionLink("End of Tenancy", "EndOfTenancyCleaning", "Services")</li>
                <li>@Html.ActionLink("Carpet Cleaning", "CarpetCleaning", "Services")</li>
                <li>@Html.ActionLink("After Builders Cleaning", "AfterBuildersCleaning", "Services")</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="index_right">
    <h3 style="text-align: center;">Company News</h3>
    <p>
        <strong>We offer our services</strong><br />
        <ul>
            <li>a daily,</li>
            <li>weekly,</li>
            <li>fortnightly,</li>
            <li>monthly basis,</li>
            <li>one time houseclean </li>
        </ul>
    </p>
    <div class="read_more">@Html.ActionLink("read more...", "Contact", "Home")</div>
    <div class="clear" style="height:20px;"></div>
    <div class="line" style="height:20px;"></div>
    <p>
        <img src="@Url.Content("~/Images/satisfation.jpg")" alt="Customer Satisfaction" />

        <strong>100% Customer Satisfaction</strong><br />
        Universe Cleaning offer the must highest level of quality,service and value to each and every customer
    </p>
    <div class="read_more">@Html.ActionLink("read more...", "CustomerSatisfaction", "ReadMore")</div>
    <div class="clear" style="height:20px;"></div>
    <div class="line" style="height:20px;"></div>
    <p>
        <img src="@Url.Content("~/Images/whyus.jpg")" alt="Why Us" /><br />
        <strong>Why Choose us</strong><br />
        Universe   Cleaning is known for its friendly cleaning services, meticulous attention to detail and consistent  high standards.
    </p>
    <div class="read_more">@Html.ActionLink("read more...", "WhyUs", "ReadMore")</div>
</div>
