
@{
    ViewBag.Title = "Terms And Conditions";
}

<p>
    @LogoNameHelper.DisplayLogoName() reserves the right to make any changes to any part of these
    terms and conditions without giving any prior notice.
    By ordering @LogoNameHelper.DisplayLogoName()  Ltd service by telephone, e-mail, fax or it's
    website the Client agrees to be bound by @LogoNameHelper.DisplayLogoName()  Ltd terms and
    condition.
</p>
<ol>
    <li>
        REGULAR DOMESTIC AND COMMERCIAL CLEANING SERVICES
        <p>
            <ol>
                <li>
                    Minimum of 3 hours per cleaning visit applies.
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  provides regular domestic and commercial cleaning at a rate of £10/hour for cleaning
                    services organized on weekly or a rate of  £11/hour for
                    cleaning services organized on fortnightly basis.
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right to suspend cleaning
                    services if monthly payments are missing.
                </li>
                <li>
                    If any estimates of how long it will take our operatives to do
                    the job required are being provided that is only an estimate
                    based on the average time it takes to clean a home or office
                    of similar size to the Client's, it being difficult to estimate
                    precisely how long such tasks may take and that a degree of
                    flexibility may be required.
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  provide products and equipment All
                    cleaning equipment it is safe and in full working condition.
                </li>
                <li>
                    Client understands that the price he/she has been quoted
                    does not include anything apart from cleaning and ironing
                    labour.
                </li>
                <li>
                    If an @LogoNameHelper.DisplayLogoName()  Ltd operative needs to collect keys
                    from a third party's address outside the postal code of the
                    premises where work is to be carried out then a £10.00
                    charge will apply.
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  will not be responsible for triggering any
                    alarm systems. Customer should give any special
                    instructions for deactivation/activation of any household
                    alarm systems.
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right not to continue with
                    the job if on inspection, it is found that the material to be
                    cleaned or treated is not suitable for cleaning or treatment.
                    @LogoNameHelper.DisplayLogoName()  also will not continue with the job if for
                    example water or power is not available or if there is
                    interference in the work from the Client or any other
                    person.
                </li>
            </ol>
        </p>
    </li>
    <li>
        END OF TENANCY CLEANING/SPRING AND ONE OFF CLEANING/
        AFTER BUILDERS CLEANING
        <p>
            <ol>
                <li>
                    Minimum of 4 hours per cleaning visit applies.
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  provides end of tenancy, one-off and
                    spring cleaning at a rate of £12/hour per person for
                    cleaning services. After builders cleaning is charged
                    £12/hour per person.
                </li>
                <li>
                    If any estimates of how long it will take our operatives to do
                    the job required are being provided that is only an estimate
                    based on the average time it takes to clean a property of
                </li>
                <li>
                    All cleaning equipment provided by @LogoNameHelper.DisplayLogoName() it is
                </li>
                <li>
                    The client understands that the price he/she has been
                </li>
                <li>
                    The End of Tenancy Cleaning, One Off/Spring Cleaning and
                </li>
                <li>
                    If an @LogoNameHelper.DisplayLogoName()  Ltd operative needs to collect keys
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  will not be responsible for triggering any
                </li>
                <li>
                    Client is advised that an end of tenancy cleaning may take
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right not t o continue with
                    similar size to the Client's, it being difficult to estimate
                    precisely how long such tasks may take and that a degree of
                    flexibility may be required.
                    safe and in full working order.
                    quoted is not for a "package deal" and does not include
                    anything apart from cleaning labour.
                    an After Builders Cleaning do not include cleaning of: walls,
                    ceilings, curtains, exterior windows, balcony, oven
                    professional, gardens, washing up, laundry and professional
                    carpet and upholstery cleaning.
                    from a third party's address outside the postal code of the
                    premises where work is to be carried out then a £10.00
                    charge will apply.
                    alarm systems.
                </li>
                <li>
                    Customer should give any special
                    instructions for deactivation/activation of any household
                    alarm systems.
                    double the length of the time required for a general
                    cleaning.
                </li>
                <li>
                    After Builders Cleaning, After Party Cleaning or
                    Badly neglected homes may take up to three times longer
                    than a well maintained home requiring the same service.
                    the job if on inspection, it is found that the material to be
                    cleaned or treated is not suitable for cleaning or treatment.
                    @LogoNameHelper.DisplayLogoName()  also will not continue with the job if for
                    example water or power is not available or if there is
                    interference in the work from the Client or any other
                    person.
                </li>
            </ol>
        </p>
    </li>
    <li>
        CARPET/UPHOLSTERY CLEANING SERVICES
        <p>
            <ol>
                <li>
                    All carpet/upholstery cleaning orders are subject to £50.00
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right to amend the initial
                </li>
                <li>
                    Differences in excess of 10% will be discussed with the
                </li>
                <li>
                    If @LogoNameHelper.DisplayLogoName()  personnel need to collect keys from a
                </li>
                <li>
                    If the Client has a dog, cat or other hairy animal hair slowing
                </li>
                <li>
                    If water extraction is required due to flooding 30% extra
                </li>
                <li>
                    Any charges like parking will be added to the Client's
                    minimum call out charge.
                    quotation should the Client's original requirements change.
                    Client prior to the start of the work.
                    third party's address outside the postal code of the premises
                    where work is to be carried out then a £10.00 charge will be
                    added to the price of the service.
                    down the cleaning process additional 30% extra charge will
                    be added to the service price.
                    charge will be added to the service price.
                    invoice unless different agreement was made.
                </li>
                <li>
                    If the Client premises are above the third floor of a building
                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right not to continue with
                    with no lift additional charge of £10 will apply.
                    the job if on inspection, it is found that the material to be
                    cleaned or treated is not suitable for cleaning or treatment.
                    @LogoNameHelper.DisplayLogoName()  also will not continue with the job if for
                    example water or power is not available or if there is
                    interference in the work from the client or any other person.
                </li>
            </ol>
        </p>
    </li>
    <li>
        PAYMENTS
        <p>
            <ol>

                <li>
                    Payment is requested on completion on the day of the
                </li>
                <li>
                    Payment can be made in cash on completion of the service.
                </li>
                <li>
                    Payment can be made by cheque payable to @LogoNameHelper.DisplayLogoName() session.
                </li>
                <li>
                    Payment can be made with debit or credit card over the
                </li>
                <li>
                    The Client's agrees and authorizes @LogoNameHelper.DisplayLogoName()  Ltd to
                </li>
                <li>
                    Client understands that any ‘late payments’ may be subject
                </li>
                <li>
                    If payment is not made after 30 days of invoice then the
                    @LogoNameHelper.DisplayLogoName() on completion of the service. If paying by
                    cheque, cheque guaranty card is required and the Client will
                    be responsible for all bank and legal charges resulting from
                    a dishonoured cheque.
                    phone (This need to be made in advance). If payment is
                    made by credit card 3% surcharge will apply. @LogoNameHelper.DisplayLogoName()  will not share the Client’s card details with a third
                    party.
                    charge any outstanding amount owed to @LogoNameHelper.DisplayLogoName()
                    with regards to the cleaning services provided plus parking
                    and congestion charges fees (if any) and up to the total
                    amount of the booked services to the debit/credit card the
                    Client's has provided.
                    to additional charges.
                    account will be passed to a collections agency, after which a

                    charge of 15% on top of the initial invoice due, will be added

                    to the debt. You agree as part of this contract to pay this

                    sum which represents our reasonable costs in collecting the

                    unpaid amounts.

                </li>
                <li>
                    All payments must be maid in Great Britain Pounds.
                </li>
            </ol>
        </p>
    </li>
    <li>
        COMPLAINTS AND CLAIMS
        <p>
            <ol>

                <li>
                    Client accepts and understands that poor service,

                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  requires the presence of the Client or

                    breakage/damage or theft must be reported within 24

                    hours from the service date. Failure to do so will entitle

                    customer to no refunds or recovery cleanings.

                    his/hers representative in the beginning and at the end of

                    the cleaning session so an inspection can be carried out and

                    if any corrections are needed, should be made on the same

                    day. If a Client is not completely satisfied with the cleaning

                    services, @LogoNameHelper.DisplayLogoName()  will re-clean any areas and

                    item/s before the completion of the service on the same day

                </li>
                <li>
                    If the Client has scheduled an inventory check then it must

                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  may take up to 5 working days to

                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  will not accept a complaint based on an

                </li>
                <li>
                    Complaints are accepted in writing (letter, e mail or Fax).

                </li>
                <li>
                    All fragile and highly breakable items must be secured or

                </li>
                <li>
                    Key replacement/locksmith fees are paid only if keys are

                </li>
                <li>
                    Client should appreciate that carpets often will not have a

                </li>
                <li>
                    In case of damage @LogoNameHelper.DisplayLogoName() will try to repair

                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right not to be responsible

                    be scheduled to commence no later than 24 hours after the

                    cleaning job has been done.

                    respond to a complaint.

                    Inventory check report, filed more than 24-hour after the

                    cleaning session.

                    Complaints must be reported on completion or in the

                    following 24-hour.

                    removed. Items excluded from liability are: cash, jewellery,

                    items of sentimental value, art and antiques.

                    lost by our operatives. There is a £30 per household liability

                    limit.

                    consistent appearance after cleaning by reason of

                    differences in wear and tear. Sunlight will sometimes cause

                    fading in areas of the carpet and cleaning can not rectify

                    this. Stains are not always visible before dirt is removed and

                    it may not be possible to remove those stains completely.

                    @LogoNameHelper.DisplayLogoName()  Services will use its best efforts provide

                    a good result but Clients are asked to be aware of these

                    limitations which are common to all cleaning operations.

                    the item/s if it agrees that it caused the damage. If the

                    item/s cannot be repaired @LogoNameHelper.DisplayLogoName()  Ltd will

                    rectify the problem through its insurance company by

                    crediting the Client with the item/s if it is proven to be by

                    our personnel.

                    for: delay for a cleaning visit due to a traffic congestion,

                    postponed service due to broken equipment, job not

                    complete due to  lack of  hot water or power and suitable

                    cleaning materials and/or equipment in full working order

                    provided by the Client, third party entering or present at

                    Client’s premises obstructing the cleaning process,

                    accidental damages worth up to £50 or less.
                </li>
            </ol>
        </p>
    </li>
    <li>
        INSURANCE<p>
            <ol>

                <li>
                    @LogoNameHelper.DisplayLogoName() has a Public and Employer's liability

                </li>
                <li>
                    Insurance cover dose not include anything that may  break

                    insurance. The policy will cover any accidental damages

                    caused by an operator working on behalf of @LogoNameHelper.DisplayLogoName(), reported within 24 hours of service date.

                    down or stop working at any time such as: dishwasher,

                    washing machine, oven, cookers, extractor fans, fridge,

                    freezer, etc, any other items, instability of which the Client is

                    already aware for such us bathroom appliances or any

                    fixtures. The Client is obliged to warn the Company or the

                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right to refuse to share any

                    cleaner about appliances that are poorly fixed or not in full

                    working order.

                    of the confidential company’s documents.
                </li>
            </ol>
        </p>
    </li>
    <li>
        CLIENT SATISFACTION <p>
            <ol>

                <li>
                    Client understands that he/she is not entitled to any

                </li>
                <li>
                    If the Client is not satisfied with the cleaning service

                </li>
                <li>
                    @LogoNameHelper.DisplayLogoName()  reserves the right to return a cleaner not

                    refunds.

                    provided and a complaint has been placed in the stated 24

                    hours after the job has been completed, @LogoNameHelper.DisplayLogoName()

                    reserves the right to return a cleaner and re-clean any areas

                    and items to Client’s satisfaction. Therefore the Client must

                    allow the cleaner to be returned and he/she should be at

                    present at all times during the re-clean visit.

                    more than once.
                </li>
            </ol>
        </p>
    </li>
    <li>
        CANCELLATION<p>
            <ol>

                <li>
                    Client may cancel the scheduled cleaning job up to 24 hours

                </li>
                <li>
                    Client agrees to pay 50% of the quote as a cancellation fee if

                </li>
                <li>
                    Clients agrees to pay 50% of the quote as a cancellation fee

                </li>
                <li>
                    If an initial deposit has been paid to @LogoNameHelper.DisplayLogoName()  Ltd

                    prior to the agreed start time.

                    he/she cancels or changes the date/time less than 24 hours

                    prior to the scheduled appointment.

                    in the event of a lock- out cased by our cleaners being

                    turned away; no one home to let them in; no water or power

                    available at Client's premises or problem with clients keys.

                    If keys are provided they must open the lock without any

                    special efforts or skills.

                    then Client agrees that deposit funds may be used to cover

                    the cancellation fee.
                </li>
            </ol>
        </p>
    </li>
    <li>
        AFTER CANCELLATION OF THE CLEANING SERVICE <p>

            <ol>
                <li>
                    By entering into a service agreement with @LogoNameHelper.DisplayLogoName(), the

                    Client agrees that after the termination of the cleaning service he/she will

                    not hire or use any domestic services provided by a present or past

                    cleaner introduced to the Client by the company. If the Client wishes to

                    hire or use domestic services provided by such a cleaner then he/she

                    must pay a referral fee of £600.

                    These terms and conditions shall be governed by the relevant United

                    Kingdom law, and by agreeing to be bound by them the customer agrees

                    to submit to the exclusive jurisdiction of the relevant courts of the United

                    Kingdom. @LogoNameHelper.DisplayLogoName() reserves the right to make any changes

                    to any part of these terms and conditions without giving any prior notice.
                </li>
            </ol>
        </p>
    </li>

</ol>
